@use '../../../../styles/tokens' as *

.ncm
  display: flex
  flex-direction: column
  gap: 12px

.ncm__field
  // wrapper

.ncm__label
  font-size: 11px
  font-weight: 600
  color: $text-active
  display: block
  margin-bottom: 4px

.ncm__actions
  display: flex
  justify-content: flex-end
  gap: 10px
  margin-top: 4px
